<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <div *ngIf="showList$ | async" class="icons-list">
    <mat-icon *ngFor="let cat of dataSource.data">{{ cat.iconName }}</mat-icon>
  </div>
  <mat-sidenav-container>
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
    >
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodeToggle
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div>
            <a routerLink="{{ node.route }}"> {{ node.displayName }}</a>
            <div
              *ngIf="node.notification > 0"
              matBadge="{{ node.notification }}"
              matBadgeColor="warn"
              matBadgeSize="small"
            ></div>
          </div>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <mat-icon>{{ node.iconName }}</mat-icon>
            {{ node.displayName }}
            <button
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'
                }}
              </mat-icon>
            </button>
          </div>
          <!-- There is inline padding applied to this div using styles.
              This padding value depends on the mat-icon-button width.  -->
          <div [class.collapsed]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar *ngIf="mobileQuery.matches === true" class="topbar">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div>

        </div>
      </mat-toolbar>
      <app-wrapper></app-wrapper>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
