.container {
  display: flex;
  min-width: 100vw;
}
mat-sidenav-container {
  height: 100vh;
}

.collapsed {
  display: none;
}

mat-tree ul,
mat-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
mat-nested-tree-node .mat-tree-node {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

mat-nested-tree-node .mat-tree-node > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

mat-nested-tree-node .mat-tree-node:hover {
  background: rgb(150, 150, 229);
  font-weight: bold;
}

mat-nested-tree-node .mat-tree-node.active {
  background: rgb(150, 150, 229);
  font-weight: bold;
}

mat-tree-node {
  padding-left: 1rem;
  gap: 2rem;
}

.mat-tree-node {
  gap: 2rem;
}
/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
div[role='group'] > .mat-tree-node {
  padding-left: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

.icons-list {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
}

.icons-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

